# ASP.NET
**/bin/
**/obj/
*.user
*.suo
*.pdb
*.vs/
.vscode/

# Angular
**/node_modules/
*.tmp
*.log
.angular/

# Docker
**/.dockerignore
**/Dockerfile*

# IDE
.idea/
*.swp
*.swo

# Build outputs
**/publish/
**/out/